@media screen and (max-width: 1100px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  header a {
    font-size: 14px;
  }
  .header-mobile{
    display: none;
  }
  .wrap-logo {
    display: flex;
    align-items: center;
  }
  .information-list a{
    font-size: 10px;
  }
  .p-text p{
    font-size: 10px;
  }
  .catalog{
    display: none;
  }

  }
@media screen and (max-width: 1000px){
  .for-bussiness{
    display: none;
  }
  .p-text{
    text-align: center;
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  
  }

  .information-list li{
    padding: 0px 0px ;
    text-align: center;
  }
  
  .grey-info-p p{
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: center;
  
  }
  .icon-img-footer{
    width: 40px;
    height: 40px;
  }
  .grey-info-footer{
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .icon-info-somedia a{
    padding: 10px;
  }
  .container{
    display: none;
  }
}
@media screen and (max-width: 800px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
    background-color: #f7ebe5a7;
    max-width: 100%;
  }
  .wrap-logo-mobile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-mobile{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 60px;
    position: relative;
  }
  nav{
    flex-direction: column;
    display: none;
  }
  .wrap-logo{
    display: none;
  }
  .cart-wrap{
    padding-top: 10px;
  }

  /*MENU NAVBAR*/

  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 35px;
    height: 40px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height:2.5px;
    width: 100%;
    background-color: #292929;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: #292929;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#eadbd4,#F7EBE5);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color:#292929;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 850px;
    height: 660px;
    transform: translate(-60%,-30%);
  }
  /*END MENU NAVBAR*/
  .cart-count{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .contact{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  
  }
  .image-contact img{
    background-size: cover;
    max-width: 100%;
    padding: 0;
    
  }
  .info-contact{
    margin: 0 auto;
  }
  
  .catalog{
    display: none;
  }
  .p-text{
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 5px;
  }
  .image-blue img{
    max-width: 30px;
    max-height: 30px;
  }
  .for-info-h3{
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  .for-info-p {
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: center;
  }
  
  .information-list{
    list-style: none;
    text-decoration: none;
  }
  .information-list a{
    text-decoration: none; 
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    
  }

  
 
  .icon-info-somedia{
    display: flex;
  }
  .icon-info-somedia a{
    padding: 5px;
  }
  .cart-count {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  
}
@media screen and (max-width: 700px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
    background-color: #f7ebe5a7;
    max-width: 100%;
  }
  .wrap-logo-mobile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-mobile{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 60px;
    position: relative;
  }
  nav{
    flex-direction: column;
    display: none;
  }
  .wrap-logo{
    display: none;
  }
  .cart-count{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .information{
    display: none;
  }
  /*MENU NAVBAR*/

  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 35px;
    height: 40px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height:2.5px;
    width: 100%;
    background-color: #292929;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: #292929;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#eadbd4,#F7EBE5);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color:#292929;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 850px;
    height: 660px;
    transform: translate(-60%,-30%);
  }
  /*END MENU NAVBAR*/
  .contact{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  
  }
  .image-contact img{
    background-size: cover;
    max-width: 100%;
    padding: 0;
    
  }
  .info-contact{
    margin: 0 auto;
  }
  .info-contact h1{
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
  }
  .info-contact h2{
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px;
  }
  .info-contact p{
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
  }
  
  

}
@media screen and (max-width: 600px){
  .p-text{
    max-width: 100px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
    background-color: #f7ebe5a7;
    max-width: 100%;
  }
  .wrap-logo-mobile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-mobile{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 60px;
    position: relative;
  }
  nav{
    flex-direction: column;
    display: none;
  }
  .wrap-logo{
    display: none;
  }
  
  /*MENU NAVBAR*/

  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 35px;
    height: 40px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height:2.5px;
    width: 100%;
    background-color: #292929;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: #292929;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#eadbd4,#F7EBE5);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color:#292929;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 850px;
    height: 660px;
    transform: translate(-60%,-30%);
  }
  /*END MENU NAVBAR*/

.cart-count{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .contact{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  
  }
  .information{
    display: none;
  }
  .footer{
    max-width: 100%;
  }
  .footer-padding{
    display: block;
  }
  .for-info-h3{
    padding-top: 100px;
  }
  .icon-info-somedia img{
    width: 40px;
    height: 40px;
  }
  .image-blue img{
    width: 40px;
    height: 44px;
  }
  .catalog{
    display: none;
  }
  .for-bussiness{
    display: none;
    padding: 0;
  }
  .icon-info-somedia a{
    padding: 5px;
  }
  .information-list a{
    font-size: 10px;
  }
  .p-text{
    font-size: 8px; 
  }
  .i-img-and-text {
    padding: 20px 0px 20px 0px;
}
.scrollToTopButton {
  position: fixed; /* Зафіксована позиція на екрані */
  bottom: 100px; /* Відстань від нижнього краю вікна браузера */
  right: 10px; /* Відстань від правого краю вікна браузера */
  padding: 10px 20px; /* Відступи всередині кнопки */
  border: none; /* Видаляємо рамку навколо кнопки */
  cursor: pointer; /* Курсор руки при наведенні на кнопку */
  width: 50px;
  height: 45px;
  background-color: #f3e4dc;
  opacity: 0.4;
  border-radius: 50%;
}
.scrollToTopButton img{
  position: fixed; /* Зафіксована позиція на екрані */
  bottom: 100px; /* Відстань від нижнього краю вікна браузера */
  right: 5px; /* Відстань від правого краю вікна браузера */
  padding: 10px 20px; /* Відступи всередині кнопки */
  border: none; /* Видаляємо рамку навколо кнопки */
  cursor: pointer; /* Курсор руки при наведенні на кнопку */
  width: 60px;
  height: 45px;
}


}

